@import "vars";

.button {
  padding: 9px 40px;
  background: none;
  color: $white;
  border: 2px solid rgb(71, 114, 118);
  border-radius: 50px;
  cursor: pointer;
  transition: all .15s cubic-bezier(0.24, 1.06, 1, 0.87);
  font-size: 16px;
  outline: none;

  &:hover {

    background: $white;
    border-color: $white;
    color: $black;
  }
}