@import "vars";

.contacts-page-wrapper {
  min-height: 400px;
  background: rgb(28, 109, 103); /* Old browsers */
  background: -moz-linear-gradient(left, rgb(28, 109, 103) 0%, rgb(25, 81, 98) 59%, rgb(25, 61, 107) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgb(28, 109, 103) 0%, rgb(25, 81, 98) 59%, rgb(25, 61, 107) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgb(28, 109, 103) 0%, rgb(25, 81, 98) 59%, rgb(25, 61, 107) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c6d67', endColorstr='#162d58', GradientType=1); /* IE6-9 */

  .contacts-header-wrapper {
    width: 100%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;

    .contacts-header-form-container {
      display: flex;
      align-items: center;
      width: 70%;

      form {
        display: flex;
        align-items: center;
        width: 100%;

        .name-field-wrapper {
          width: 25%;
          margin: 0 10px;
        }

        .city-field-wrapper {
          width: 20%;
          margin: 0 10px;
          position: relative;

          .clear-selection {
            content: "";
            position: absolute;
            left: 10px;
            color: $white;
            cursor: pointer;
            transition: all 100ms ease-in-out;
            text-decoration: underline;
          }
        }

        .checkbox-field-wrapper {
          margin: 0 10px;
          color: $white;
        }

        .form-submit-container {
          margin: 0 10px;
        }
      }
    }

    .add-new-contact-button {
      position: relative;
      background: $add-new-contact-button;
      border-color: $add-new-contact-button;

      &:hover {
        background: $add-new-contact-button;
        border-color: $add-new-contact-button;
        color: $white;
      }

      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f067";
        position: absolute;
        left: 3px;
        top: 3px;
        width: 30px;
        padding: 7px;
        border-radius: 50px;
        background: rgb(23, 83, 80);
      }
    }
  }

  .contacts-content-container {
    display: flex;
    padding: 20px 40px 30px;

    .contact-card-container {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      padding: 20px 0;
      background: #fff;
      border-radius: 8px;

      @media(min-width: 1500px) {
        width: 16%;
      }

      .contact-card-image {
        width: 85%;
        border: 5px solid rgb(216, 217, 206);
        border-radius: 50%;
      }

      .contact-card-information {
        width: 100%;
        padding: 0 10px;

        .contact-card-item {
          width: 100%;
          display: flex;
          margin: 10px 0;

          .contact-card-item-label {
            width: 30%;
            text-align: right;
            margin-right: 14px;
            color: rgb(152, 152, 152)
          }

          .contact-card-item-email {
            text-decoration: underline;
            color: rgb(106, 194, 218);
            cursor: pointer;
          }
        }
      }
    }

    .contacts-list-table {
      width: 80%;
      border-radius: 8px;
      border-collapse: collapse;
      background: #fff;

      thead {

        th {
          color: #fff;
          border-right: 1px solid $table-head-border-color;
        }

        .contacts-table-col-head {
          padding: 18px 20px;
          text-align: left;

          &.col-head-name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(1, 133, 164);
            border-top-left-radius: 8px;

            .placeholder-icon {
              margin-right: 20px;
              opacity: 0;
            }
            
            .sort-icon {
              cursor: pointer;
            }
          }

          &.col-head-surname {
            background-color: rgb(4, 144, 174);
          }

          &.col-head-city {
            background-color: rgb(8, 153, 184);
          }

          &.col-head-email {
            background-color: rgb(13, 173, 202);
          }

          &.col-head-phone {
            background-color: rgb(18, 182, 212);
            text-align: right;
          }

          &.col-head-options {
            width: 10%;
            background-color: rgb(21, 192, 221);
            border-top-right-radius: 8px;
          }
        }

        .head-no-border {
          border: none;
        }
      }

      tbody {

        tr {
          border-bottom: 2px solid rgb(240, 240, 240);
          cursor: pointer;
          height: 52px;

          &:hover {
            background-color: rgba(231, 246, 248, 0.3);
          }
        }

        .row-no-border {
          border-bottom: none;
        }

        .row-selected {
          background-color: rgb(231, 246, 248);

          &:hover {
            background-color: rgb(231, 246, 248);
          }

          .col-options {

            .icon-container {
              padding: 5px 10px;
              margin: 0 5px;
              background: $active-icon-color;
              border-radius: 10px;

              i {
                filter: invert(1);
              }
            }
          }
        }
      }

      .contacts-table-col {
        padding: 14px 20px;

        &.col-name {

          i {
            margin-right: 20px;
          }
        }

        &.col-phone {
          text-align: right;
        }

        &.col-options {
          display: flex;
          justify-content: center;

          .icon-container {
            padding: 5px 10px;
            margin: 0 5px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}