.footer-wrapper {
  display: flex;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;

  .footer-copyright-section {
    flex: 0.4;
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .flexbox-column {

      a {
        margin: 5px 0;
      }
    }

    .copyright-container {

      a {
        margin: 0 10px;
      }
    }
  }

  .footer-information-section {
    flex: 0.4;
    background: rgba(0, 0, 0, 0.2);

    .footer-information-item {
      width: 100%;
      height: 50%;
      padding: 10px 20px;
      display: flex;
      align-items: center;

      .footer-information-item-content-container {
        width: 70%;
        display: flex;
        align-items: center;
      }

      .footer-information-item-icon {
        width: 20%;
        margin-right: 5px;

        i {
          font-size: 34px;
        }

        &.bottom {
          width: 14%;
        }
      }

      .information-item-link-container {

        i {
          margin-right: 4px;
        }
      }

      &.border-top {
        border-top: 1px solid rgba(255,255,255,0.1);
      }

      &.border-bottom {
        border-bottom: 1px solid rgba(255,255,255,0.1);
      }
    }
  }

  .footer-links-section {
    flex: 0.2;
    padding: 20px 40px;

    .flexbox-column {

      a {
        margin: 5px 0;
      }
    }
  }
}