@import "vars";

.header-container {
  width: 100%;
  padding: 30px 50px 30px 40px;
  display: flex;
  align-items: center;
  background: #1A3B42;
  color: #fff;

  .header-logo {
    font-size: 34px;
    font-weight: 600;
    position: relative;

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f2bd";
      position: absolute;
      right: 36px;
      top: -2px;
      font-size: 11px;
    }
  }

  .header-content {
    display: flex;
    width: 100%;
    margin-left: 50px;

    .button-group {
      padding: 4px;
      display: flex;
      border-radius: 50px;
      background: $button-blue;
      font-size: 14px;

      .group-button {
        background: transparent;
        padding: 5px 40px;
        flex: 0.333;
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        color: #fff;
        transition: all .15s cubic-bezier(0.24, 1.06, 1, 0.87);

        &:hover {
          background: $button-blue-hover;
        }
      }

      .button-left {
        border-radius: 50px 0 0 50px;
      }

      .button-center {

      }

      .button-right {
        border-radius: 0 50px 50px 0;
      }

      .button-active {
        background: $button-active-blue;
        box-shadow: inset 0px 0px 20px -6px #000000;
      }
    }

    .search-box-container {
      min-width: 20%;
      position: relative;
      margin-left: 30px;

      .fa-search {
        position: absolute;
        right: 0;
        top: 0;
        width: 15%;
        font-size: 15px;
        color: #000;
        height: 100%;
        background: #D9D9D2;
        border-radius: 0 50px 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .header-dropdown {
    position: absolute;
    top: 0;
    right: 1%;

    .header-dropdown-content {
      padding: 6px 10px;
      background: $button-blue;
      border-radius: 0 0 10px 10px;
      user-select: none;
      cursor: pointer;

      &:hover {
        background: rgba($button-active-blue, 0.3);
      }

      .user-name {
        padding: 0 20px 0 10px;
      }
    }
  }
}

/*
  Slide animation styles

  You may need to add vendor prefixes for transform depending on your desired browser support.
*/

.slide-enter {
  transform: translateY(-30%);
  opacity: 0;
  transition: opacity .15s cubic-bezier(0, 1, 0.5, 1), transform .25s cubic-bezier(0, 1, 0.5, 1);

  &.slide-enter-active {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slide-exit {
  transform: translateY(0%);
  opacity: 1;
  //transition: .25s ease-in-out;
  transition: opacity .15s cubic-bezier(0, 1, 0.5, 1), transform .25s cubic-bezier(0, 1, 0.5, 1);

  &.slide-exit-active {
    transform: translateY(-30%);
    opacity: 0;
  }
}

.submenu-container {
  min-width: $submenu-width;
  position: absolute;
  right: 0;
  bottom: -5px;
  z-index: 1;
  user-select: none;
}

.nav__submenu {
  padding: 0;
  font-weight: 300;
  position: absolute;
  width: 100%;
  background-color: $button-blue;
  color: $white;
  border: 1px solid $header-dropdown-border-color;
  border-radius: 5px 0 5px 5px;
  display: flex;
  flex-direction: column;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid $button-blue;
    z-index: 1;
    top: -13px;
    right: 22px;
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 15px solid $header-dropdown-border-color;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    z-index: 0;
    right: 21px;
    top: -15px;;
  }

  .nav__submenu-item {
    padding: 6px 15px 6px 10px;;
    cursor: pointer;
    text-decoration: none;
    color: $white;
    user-select: none;
    z-index: 2;

    &:hover {
      background: rgba($button-active-blue, 0.3);
    }

    i {
      margin-right: 10px;
    }
  }

  .nav__submenu-item-active {
    background: rgba($button-active-blue, 0.6);
    &:hover {
      background: rgba($button-active-blue, 0.6);
    }
  }

  .nav__submenu-item-border-bottom {
    border-bottom: 1px solid rgba(18, 128, 157, .5);
  }
}