@import "vars";

input[type="text"] {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid $black;
  background-color: #f6f6f6;
  border: unset;
  border-radius: 50px;
  font-size: 16px;
  transition: box-shadow .1s cubic-bezier(.55,1.03,.86,1);

  &:focus {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    outline: none;
  }
}

.styled-select {
  position: relative;

  select {
    width: 100%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $black;
    background-color: #f6f6f6;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: box-shadow .1s cubic-bezier(.55, 1.03, .86, 1);

    &:focus {
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
      outline: none;
    }
  }

  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0dd";
    position: absolute;
    right: 12px;
    top: 11px;
  }
}

.checkbox-block {
  display: flex;
  align-items: center;

  input {
    margin-right: 10px;
  }
}
