@import 'base';
@import "common";
@import "button";
@import "input";
@import "header";
@import "footer";
@import "contacts";

@font-face {
  font-family: "OpenSansRegular";
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  font-family: 'OpenSansRegular', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
}

a {
  color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
