$button-blue: #02A2C1;
$button-blue-hover: #17929D;
$button-active-blue: #188893;
$header-dropdown-border-color: rgb(17, 111, 137);
$table-head-border-color: rgba(17, 111, 137, .4);
$add-new-contact-button: rgb(28, 109, 102);
$active-icon-color: rgb(16, 182, 214);
$color-blue-dark: #0d2035;
$white: #FFF;
$black: #000;
$submenu-width: 240px;